extends layout

block head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(type="text/javascript", src="/javascripts/home.js")

block content
  div(id="adminlink")
    a(href='/admin') Admin Page
  h1= title
  if question
    p= question.questionString
    form(action="/responses/create/" + question.id, method="post")
      each option in question.Options
        label(class="optionLabel")= option.optionString
          input(type="radio", name=question.id, value=option.id)
        br
      input(type="submit")
  else
    p You have answered everything!
